
.Home-carousel .slick-prev,
.Home-carousel .slick-next {
  font-size: 0px !important;
  color: green !important;
}
.Home-carousel .slick-prev:before,
.Home-carousel .slick-next:before {
  font-size: 28px !important;
  color: green !important;
}
.Home-carousel .slick-prev:before {
  margin-left: -10px;
}

.Home-carousel .slick-dots li button::before { 
  overflow: hidden;
  height: 6px !important;
  top: -100% !important;
  opacity: 100%;
  background-color: white;
}

/* Active */
.Home-carousel .slick-dots li.slick-active button::before {
  background-color: green !important;
}

/* Hover */
.Home-carousel .slick-dots li:hover button::before {
  background-color: green !important;
}