.test {
  /* background-color: blue; */
  @apply bg-yellow-400;
}
.material-icons {
  /* font-size: 24px; */
  font-size: 36px;
  /* font-size: 36px;
  font-size: 48px; */
}
.sides {
  @apply px-6;
}
.fixed-header {
  transition: all 0.3s ease; /* Adjust duration and easing function as needed */
}

.fixed-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust z-index if necessary */
}

/* Apply styles to the title attribute */
[title] {
  position: relative;
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Tooltip text */
[title]:before {
  content: attr(title);
  position: absolute;
  top: 120%;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}

/* Tooltip display on hover */
[title]:hover:before {
  visibility: visible;
  opacity: 1;
}

.offer-banner {
  overflow: hidden;
  transition: height 0.3s ease-in-out; /* Apply smooth transition */
}

.offer-banner.show {
  height: auto; /* Show the banner */
}

.offer-banner.hide {
  height: 0; /* Hide the banner by setting height to 0 */
}
/* 2222222222222 */
.mydiv {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: red;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.mydiv:hover {
  height: 0px;
}
.icon {
  width: 24px;
  cursor: pointer;
  color: red;
  /* color: whitesmoke; */
}

.icon-container {
  @apply cursor-pointer rounded-full bg-[#d4d4d4] bg-opacity-0 p-1 text-[#757575] text-red-500  transition duration-200 ease-linear hover:bg-opacity-50 hover:text-[#000000c5];
}
.title {
  @apply text-lg font-semibold;
}
.line {
  @apply my-4 h-1 w-full bg-red-500;
}
