.Testimonials-Carousel .slick-prev,
.Testimonials-Carousel .slick-next {
  font-size: 0px !important;
  color: orange !important;
}
.Testimonials-Carousel .slick-prev:before,
.Testimonials-Carousel .slick-next:before {
  font-size: 28px !important;
  color: orange !important;
}
.Testimonials-Carousel .slick-prev,
.Testimonials-Carousel .slick-next {
  z-index: 2;
}
.Testimonials-Carousel .slick-prev {
  left: 14px;
}
.Testimonials-Carousel .slick-next {
  right: 20px;
}
.Testimonials-Carousel .slick-dots li button::before {
  overflow: hidden;
  height: 6px !important;
  top: 0px !important;
  opacity: 100%;
  background-color: white;
}

/* Active */
.Testimonials-Carousel .slick-dots li.slick-active button::before {
  background-color: orange !important;
}

/* Hover */
.Testimonials-Carousel .slick-dots li:hover button::before {
  background-color: orange !important;
}
