@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base {
  :root {
    --text-base: rgb(255, 255, 255);
    --khalid: 48, 255, 7;
    --primary: rgb(48, 255, 7);
    --secondary: brown;
    --muted: gray;
    --accent: purple;
    --accent2: blue;
    --destructive: black;
  }
  .khalid {
    --text-base: rgb(235, 0, 0);
    --khalid: 48, 255, 7;
    --primary: rgb(255, 0, 238);
    --secondary: brown;
    --muted: gray;
    --accent: purple;
    --accent2: rgb(0, 255, 21);
    --destructive: black;
  }
  .dark {
    --base: #ffffff;
    --primary: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --muted: 210 40% 96.1%;
    --accent: purple;
    --destructive: 0 84.2% 60.2%;
  }
} 
.bg-1 {
  background-color: #3a4750;
}
.accent {
  background-color: #e73d50;
}
@layer base {
  * {
    @apply border-border;
  }
}
